
	<div class="main_content albums">
		<div class="ui grid">
			<div class="two column row top_line">
				<div class="column logo">
					<div class="ui launch icon button" data-transition="overlay">
						<img src="img/sidebar_black.png">		 
					</div>
					<p class="page_title">New songs</p>
				</div>
				<div class="column top_search">
					<div class="ui  icon input">
				        <input type="text" id="search">
				        <label for="search"><img src="img/search.png"></i></label>
			      	</div>
				</div>
			</div>
			<div class="albums_list">
				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album1.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist1.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album2.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist2.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album3.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist3.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album4.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist4.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album5.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist5.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album6.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist6.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album1.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist1.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album2.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist2.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album3.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist3.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album4.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist4.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album5.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist5.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album6.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist6.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album1.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist1.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album2.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist2.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album3.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist3.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album4.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist4.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album5.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist5.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small2.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>

				<div class="album_item">
					<div class="img_container">
						<a href="#"><img src="img/album6.jpg"></a>
					</div>
					<div class="author artist">
						<div class="ava_container"><img src="img/album_artist6.jpg"></div>
						<div class="user_name">
							<p><a href="#">Eminem</a></p>
							<p><span>Album: Recovery</span></p>
						</div>
					</div>
					<div class="author added">
						<div class="ava_container"><img src="img/user_small3.jpg"></div>
						<div class="user_name">
							<p><span>Added:</span></p>
							<p><a href="#">Anastasia Verd</a></p>							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	