
	<div class="main_content artists">
		<div class="ui grid">
			<div class="two column row top_line">
				<div class="column logo">
					<div class="ui launch icon button" data-transition="overlay">
						<img src="img/sidebar_black.png">		 
					</div>
					<a href="#"><img src="img/logo.png"></a>
				</div>
				<div class="column top_search">
					<div class="ui  icon input">
				        <input type="text" id="search">
				        <label for="search"><img src="img/search.png"></label>
			      	</div>
				</div>
				
			</div>
		</div>
		<div class="artists_navigation clearfix">
			<p class="page_title">Artists</p>
			<ul class="nav">
				<li><a href="#">All</a></li>
				<li><a href="#">a</a></li>
				<li><a href="#">b</a></li>
				<li><a href="#">c</a></li>
				<li><a href="#" class="active">d</a></li>
				<li><a href="#">e</a></li>
				<li><a href="#">f</a></li>
				<li><a href="#">g</a></li>
				<li><a href="#">h</a></li>
				<li><a href="#">i</a></li>
				<li><a href="#">j</a></li>
				<li><a href="#">k</a></li>
				<li><a href="#">l</a></li>
				<li><a href="#">m</a></li>
				<li><a href="#">n</a></li>
				<li><a href="#">o</a></li>
				<li><a href="#">p</a></li>
				<li><a href="#">q</a></li>
				<li><a href="#">r</a></li>
				<li><a href="#">s</a></li>
				<li><a href="#">t</a></li>
				<li><a href="#">u</a></li>
				<li><a href="#">v</a></li>
				<li><a href="#">w</a></li>
				<li><a href="#">x</a></li>
				<li><a href="#">y</a></li>
				<li><a href="#">z</a></li>
				<li><a href="#">123</a></li>
			</ul>			
		</div>
		<div class="artists_content">
			<ul class="clearfix">
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_1.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Ariana <br>Grande</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_2.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Jimi <br>Hendrix</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_3.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Three <br>Days Grace</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_4.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">3 Doors <br>Down</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_5.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Alanis <br>Morissette</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>


				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_6.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Madeleine <br>Peyroux</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_7.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Jamie <br>Cullum</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_8.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Lily <br>Allen</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_9.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Avril <br>Lavigne</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="artist_picture"><img src="img/artist_10.jpg"></div>
						<div class="img_container"><img src="img/play.png"></div>
						<div class="body_container">
							<p class="artist_name">Justin <br>Timberlake</p>
							<p class="listen">423 987 listen</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	