  
	<div class="main_content song_list main_page">			
			<div class="top_line clearfix">
				
				<div class="logo">
				<div class="ui launch icon button" data-transition="overlay">
					<img src="img/sidebar_black.png">		 
				</div>
					<p class="page_title">Music</p>
					<div class="right_nav">
						<a href="#" class="btn_list active"></a>
						<a href="#" class="btn_grupe"></a>			
					</div>
				</div>
				<div class="top_search">
					<input type="text" id="search">
				        <label for="search"><img src="img/search.png"></label>
				</div>
			</div>
			<div class="playlist_content">
				<table>
			    	<tr>
			    		<th><p>Name</p></th>
			    		<th><p>Artist</p></th>
			    		<th><p>Album</p></th>
			    		<th><p>Time</p></th>
			    	</tr>
			    	<tr>
			    		<td class="active"><a href="#"></a><p>Bitch Better Have My </p></td>
			    		<td><p><span>Rihanna</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:47</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Summertime Sadness</p></td>
			    		<td><p><span>Lana Del Rey</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>2:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Day of the Dead</p></td>
			    		<td><p><span>Hollywood Undead</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Every Teardrop Is a Waterfall</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>A Sky Full of Stars</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:21</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Supermassive Black Hole</p></td>
			    		<td><p><span>Muse</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>4:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Bitch Better Have My </p></td>
			    		<td><p><span>Rihanna</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:47</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Summertime Sadness</p></td>
			    		<td><p><span>Lana Del Rey</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>2:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Day of the Dead</p></td>
			    		<td><p><span>Hollywood Undead</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>			    	
			    </table>
			     <div class="more">
			    	<a href="#" class="btn_green">More</a>
			    </div>
			</div>
			<div class="new_songs">
				<p class="page_title">New songs</p>
				<ul>
					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_1.jpg"></a>
						<p class="song clearfix">Come Together<span>4:57</span></p>
						<p class="artist_album">Artist: The Beatles</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>

					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_2.jpg"></a>
						<p class="song clearfix">A Sky Full of Stars<span>4:57</span></p>
						<p class="artist_album">Artist: Coldplay</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>

					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_3.jpg"></a>
						<p class="song clearfix">A Sky Full of Stars<span>4:57</span></p>
						<p class="artist_album">Artist: Lana Del Rey</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>

					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_4.jpg"></a>
						<p class="song clearfix">Radioactive<span>4:57</span></p>
						<p class="artist_album">Artist: magine Dragons</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>

					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_5.jpg"></a>
						<p class="song clearfix">Get Lucky (feat ...<span>4:57</span></p>
						<p class="artist_album">Artist:  Coldplay</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>

					<li>
						<a href="#" class="artist_picture"><img src="img/new_song_6.jpg"></a>
						<p class="song clearfix">All Day<span>4:57</span></p>
						<p class="artist_album">Artist: Lana Del Rey</p>
						<p class="artist_album album">Album: Abbey Road<a href="#"></a></p>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>								
							</div>
						</div>
					</li>
				</ul>
				 <div class="more">
			    	<a href="#" class="btn_green">More</a>
			    </div>
			</div>
			<div class="top_songs">
				<p class="page_title clearfix">Top songs <a href="#">Display all audio</a></p>
				<ul>
					<li>
						<a href="#">
							<div class="img_container"><img src="img/top_song1.jpg"></div>
							<div class="body_container">
								<p class="song">Every Planet We<br> Reach Is Dead</p>
								<p class="artist">Artist: Gorillaz </p>
							</div>
						</a>
					</li>

					<li>
						<a href="#">
							<div class="img_container"><img src="img/top_song2.jpg"></div>
							<div class="body_container">
								<p class="song">Lose Yourself to Dance (feat. Pharrell Williams)</p>
								<p class="artist">Artist: Daft Punk</p>
							</div>
						</a>
					</li>

					<li>
						<a href="#">
							<div class="img_container"><img src="img/top_song3.jpg"></div>
							<div class="body_container">
								<p class="song">We Are One (Ole Ola) [The Official 2014 FIFA ...</p>
								<p class="artist">Artist: Gorillaz </p>
							</div>
						</a>
					</li>

					<li>
						<a href="#">
							<div class="img_container"><img src="img/top_song4.jpg"></div>
							<div class="body_container">
								<p class="song">Young, Wild & Free (feat. Bruno Mars)</p>
								<p class="artist">Artist: Daft Punk</p>
							</div>
						</a>
					</li>
				</ul>
				 <div class="more">
			    	<a href="#" class="btn_green">More</a>
			    </div>
			</div>
	</div>