
	<div class="main_content playlists">
		<div class="playlist_nav">
			<div class="ui launch icon button" data-transition="overlay">
				<img src="img/sidebar_black.png">		 
			</div>
			<div class="right_nav">
				<a href="#" class="btn_list active"></a>
				<a href="#" class="btn_grupe"></a>
				<input type="text" id="search">	
				<label for="search"><img src="img/search.png"></label>				
			</div>
		</div>
		<div class="playlist_content">
			<div class="ui top attached tabular menu">
			    <a class="active item" data-tab="first">Audio playlists <span>5 213</span></a>
			    <a class="item" data-tab="second">Video playlists <span>854</span></a>
			  </div>
			<div class="ui bottom attached active tab segment" data-tab="first">
			    <table>
			    	<tr>
			    		<th><p>Name</p></th>
			    		<th><p>Artist</p></th>
			    		<th><p>Album</p></th>
			    		<th><p>Time</p></th>
			    	</tr>
			    	<tr>
			    		<td class="active"><a href="#"></a><p>Bitch Better Have My </p></td>
			    		<td><p><span>Rihanna</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:47</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Summertime Sadness</p></td>
			    		<td><p><span>Lana Del Rey</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>2:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Day of the Dead</p></td>
			    		<td><p><span>Hollywood Undead</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Every Teardrop Is a Waterfall</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>A Sky Full of Stars</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:21</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Supermassive Black Hole</p></td>
			    		<td><p><span>Muse</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>4:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Bitch Better Have My </p></td>
			    		<td><p><span>Rihanna</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:47</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Summertime Sadness</p></td>
			    		<td><p><span>Lana Del Rey</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>2:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Day of the Dead</p></td>
			    		<td><p><span>Hollywood Undead</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Every Teardrop Is a Waterfall</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>A Sky Full of Stars</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:21</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Supermassive Black Hole</p></td>
			    		<td><p><span>Muse</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>4:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Bitch Better Have My </p></td>
			    		<td><p><span>Rihanna</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:47</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Summertime Sadness</p></td>
			    		<td><p><span>Lana Del Rey</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>2:23</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Day of the Dead</p></td>
			    		<td><p><span>Hollywood Undead</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Every Teardrop Is a Waterfall</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>5:12</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>A Sky Full of Stars</p></td>
			    		<td><p><span>Coldplay</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>3:21</span></p></td>
			    	</tr>
			    	<tr>
			    		<td><a href="#"></a><p>Supermassive Black Hole</p></td>
			    		<td><p><span>Muse</span></p></td>
			    		<td><p><span>Abbey Road</span></p></td>
			    		<td><p><span>4:23</span></p></td>
			    	</tr>
			    </table>
			 </div>
			<div class="ui bottom attached tab segment" data-tab="second">
			    Video playlists
			 </div>
		</div>
	</div>
 
