
	<div class="main_content">
		<div class="ui ev grid">
			<div class="two column row top_line">
				<div class="column logo">
					<div class="ui launch icon button" data-transition="overlay">
						<img src="img/sidebar_black.png">		 
					</div>
					<a href="#"><img src="img/logo.png"></a>
				</div>
				<div class="column top_search">
					<div class="ui  icon input">
				        <input type="text" id="search">
				        <label for="search"><img src="img/search.png"></i></label>
			      	</div>
				</div>
			</div>
			<div class="center_cont">
				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event1.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">05 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">Rolling Stones 'Satisfaction' 50th anniversary vinyl single </p>
						<p class="event_content">  The Rolling Stones' signature tune classic, (I Can't Get No) Satisfaction, will be reissued as a 12 inch vinyl single to mark its 50th anniversary in June. Satisfaction was originally released on June ...</p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event2.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">04 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">The Vaccines announce HMV gig and signing </p>
						<p class="event_content">The Vaccines visit hmv to perform sign copies of their new album 'English Graffiti' and will also perform live at hmv 363 Oxford Street. Those interested in attending the Oxford Street event will need to obtain tickets ...</p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event3.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">03 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">Bieber: I was disappointed with myself</p>
						<p class="event_content">The 21-year-old developed a reputation for being a bit of a bad boy in recent years, having had a number of run ins with the law for issues including egg throwing and DUI. But in the last few months, the Baby singer has realised </p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event4.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">04 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">George The Poet announces headline tour</p>
						<p class="event_content">Following on from completing a string of sold out headline dates in February and April this year, critically acclaimed spoken word artist George The Poet announces his second nationwide UK tour for 2015.</p>
					</div>
				</div>

			</div>
		</div>
		<div class="main_event">			
					<div class="img_container"><img src="img/main_event.jpg"></div>
					<div class="body_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>						
						<div class="top_part">
							<p class="date">04 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">George The Poet announces headline tour</p>
						<p class="event_content">Following on from completing a string of sold out headline dates in February and April this year, critically acclaimed spoken word artist George The Poet announces his second nationwide UK tour for 2015.</p>
					</div>
				</div>
		<div class="ui ev grid">
			<div class="center_cont">
				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event1.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">05 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">Rolling Stones 'Satisfaction' 50th anniversary vinyl single </p>
						<p class="event_content">  The Rolling Stones' signature tune classic, (I Can't Get No) Satisfaction, will be reissued as a 12 inch vinyl single to mark its 50th anniversary in June. Satisfaction was originally released on June ...</p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event2.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">04 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">The Vaccines announce HMV gig and signing </p>
						<p class="event_content">The Vaccines visit hmv to perform sign copies of their new album 'English Graffiti' and will also perform live at hmv 363 Oxford Street. Those interested in attending the Oxford Street event will need to obtain tickets ...</p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event3.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">03 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">Bieber: I was disappointed with myself</p>
						<p class="event_content">The 21-year-old developed a reputation for being a bit of a bad boy in recent years, having had a number of run ins with the law for issues including egg throwing and DUI. But in the last few months, the Baby singer has realised </p>
					</div>
				</div>

				<div class="column events">
					<div class="img_container">
						<div class="redactor">
							<a href="#"></a>
							<a href="#"></a>
						</div>
						<img src="img/event4.jpg">
					</div>
					<div class="body_container">
						<div class="top_part">
							<p class="date">04 <span>March 2015</span></p>
							<div class="author">
								<div class="ava_container"><img src="img/user_small.jpg"></div>
								<div class="user_name">
									<p><a href="#">Anastasia Verd</a></p>
									<p><span>3 years, 1 months ago</span></p>
								</div>
							</div>
						</div>
						<p class="event_title">George The Poet announces headline tour</p>
						<p class="event_content">Following on from completing a string of sold out headline dates in February and April this year, critically acclaimed spoken word artist George The Poet announces his second nationwide UK tour for 2015.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	