<!DOCTYPE html>
<html>
<head>
    <title>wr.Music</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
    <meta name="HandheldFriendly" content="True"/>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="css/semantic.css" />
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/feed.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link  href="css/perfect-scrollbar.css" rel="stylesheet">
    <!-- Scripts -->
    
</head>
<body>
<div class="ui wide overlay demo  sidebar ">
	<div class="left_bar custom_sroll for_small">
		<div class="ui launch icon button" data-transition="overlay">
			<img src="img/sidebar.png">
		</div>
		<div class="user clearfix">
			<div class="avatar"><img src="img/avatar.png"></div>
			<div class="controls">
				<a href="#"><img src="img/seting.png"></i></a>
				<a href="#"><img src="img/user.png"></a>
				<a href="#"><img src="img/log_out.png"></a>
			</div>
		</div>
		<ul>
			<li class="active"><a href="#" class="nav"><i class="icon music"></i> Music <img src="img/arrow_down.png"></i></a></li>
			<li><a href="#" class="nav"><i class="icon chart"></i> Charts</a></li>
			<li><a href="#" class="nav"><i class="icon album"></i> Albums</a></li>
			<li><a href="#" class="nav"><i class="icon video"></i> Vido Clips</a></li>
			<li><a href="#" class="nav"><i class="icon recent"></i> Recent</a></li>
			<li><a href="#" class="nav"><i class="icon popular"></i> Most Popular</a></li>
			<li><a href="#" class="nav"><i class="icon fav"></i> Favorites</a></li>
			<li><a href="#" class="nav"><i class="icon my-video"></i> My videos</a></li>
			<li><a href="#" class="nav"><i class="icon artist"></i> Artists</a></li>
			<li><a href="#" class="nav"><i class="icon genre"></i> Genres</a></li>
			<li><a href="#" class="nav"><i class="icon playlist"></i> My Playlists</a></li>
			<li><a href="#" class="nav"><i class="icon event"></i> Events <img src="img/arrow_down.png"></a></li>
		</ul>
	</div>
	<div class="player custom_sroll">
		<a href="#"><img src="img/sidebar_logo.png"></a>
		<div class="album_picture"><img src="img/album_picture.jpg"></div>
		<p class="song">The Adventures of Rain <br>Dance Maggie</p>
		<p class="artist">Artist: <span>Red Hot Chili Peppers</span></p>
		<p class="artist">Album: <span>Love Lust Faith + Dreams</span></p>
		<ul class="player_buttons">
			<li><button class="stop"></button></li>
			<li><button class="prev"></button></li>
			<li><button class="play"></button></li>
			<li><button class="next"></button></li>
			<li><button class="sound"></button></li>
			<li><div class="value"><span></span></div></li>
		</ul>
		<div class="duration">
			<span></span>
		</div>
		<div class="time"><p>-4:45</p></div>
		<div class="author">
			<div class="ava_container"><img src="img/user_small.jpg"></div>
			<div class="user_name">
				<p><a href="#">Anastasia Verd</a></p>
				<p><span>3 years, 1 months ago</span></p>
			</div>
		</div>
	</div>
</div>

<div class="left_bar out_side custom_sroll ">
	<div class="ui launch icon button" data-transition="overlay">
		<img src="img/sidebar.png">
	</div>
	<ul>
		<li class="active"><a href="#" class="nav"><i class="icon music"></i></a></li>
		<li><a href="#"><i class="icon chart"></i></a></li>
		<li><a href="#"><i class="icon album"></i></a></li>
		<li><a href="#"><i class="icon video"></i></a></li>
		<li><a href="#"><i class="icon recent"></i></a></li>
		<li><a href="#"><i class="icon popular"></i></a></li>
		<li><a href="#"><i class="icon fav"></i></a></li>
		<li><a href="#"><i class="icon my-video"></i></a></li>
		<li><a href="#"><i class="icon artist"></i></a></li>
		<li><a href="#"><i class="icon genre"></i></a></li>
		<li><a href="#"><i class="icon playlist"></i></a></li>
		<li><a href="#"><i class="icon event"></i></a></li>
	</ul>
</div>

<div class="container pusher">
	<div class="main_content news_review event_detail">
		<div class="ui grid">
			<div class="two column row top_line">
				<div class="column logo">
					<div class="ui launch icon button" data-transition="overlay">
						<img src="img/sidebar_black.png" cla>		 
					</div>
					<img src="img/sidebar_logo.png" class="black_logo">
					<img src="img/logo.png" class="white_logo">
				</div>
				<div class="column top_search">
					<div class="ui  icon input">
				        <input type="text" id="search">
				        <label for="search"><img src="img/search.png"></label>
			      	</div>
				</div>
				
			</div>
		</div>
		<div class="news_picture" style="background: url(img/event_detail.jpg) no-repeat center top;  background-size: cover;">
			<div class="author">
				<div class="ava_container"><img src="img/user_small.jpg"></div>
				<div class="user_name">
					<p><a href="#">Anastasia Verd</a></p>
					<p><span>3 years, 1 months ago</span></p>
				</div>
			</div>
		</div>
		<div class="about_news detail">
			<div class="top_news">
				<p class="detail_title">The Black Keys' Dan Auerbach confirms band are ready to play live again following drummer injury</p>
				<p><span>FROM:   Mar 05 2015  , 07:25  to  Mar 02 2015   08:35 ( 2 Day 22 hours and 50 minutes)</span></p>
				<p>The Black Keys' Dan Auerbach has discussed his bandmate Patrick Carney's recent shoulder injury, confirming that the band are now ready to return to live duty. </p>
				<p>The duo were recently forced to cancel a number of shows after drummer Carney struggled to recover from a shoulder injury sustained in January. Carney was injured after being slammed to the ocean floor by a wave while on holiday on the Caribbean island of St Barts. He was later taken to hospital for treatment under anaesthesia.</p>
				<p>Speaking to NME Auerbach says "I wasn’t pissed off at all [about the break]. I mean, I felt bad that we had to cancel for our fans but at the same time, having a break for me personally was great." He added, "It was really nice to spend a lot of time hanging out at home. It was really good!"</p>
				<p>The band are due back on the road shortly, with Auerbach confirming that Carney is nearly recovered from the incident. "We have a bunch of gigs set for the rest of the year," Auerbach said. "[Patrick] says he feels good. He’s been doing his rehab this whole time. It’s like a full time job trying to recuperate from that."</p>
				<p>Asked if the upcoming shows would be stripped back due to Carney's injury, Auerbach answered, "No, if that was ever the case we wouldn’t play the show."</p>
				<p>Meanwhile, Dan Auerbach is set to release a new solo album, which follows on from his debut solo LP 'Keep It Hid' in 2009. </p>
				<p>Speaking to Rolling Stone recently, the musician said that he's "just finished up" work on the lone effort, claiming to be "really excited about it". He also confirmed that the record will come out in the "late summer".</p>
				<p>"It was cut really quick in a week and a half, two weeks of recording," Auerbach added. "I just wanted to do my thing and get extra weird... </p>
			</div>
			<div class="featured">
				<p><span>1600 Amphitheatre Parkway    Mountain View, CA 94043</span></p>				
			</div>
			<div class="comments detail_comments">
				<p class="comments_tile">Comments</p>
				<ul>
					<li>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>
								<p><span>3 years, 1 months ago</span></p>
							</div>
						</div>
						<p class="comment_content">Nice</p>
					</li>
					<li>
						<div class="author">
							<div class="ava_container"><img src="img/user_small.jpg"></div>
							<div class="user_name">
								<p><a href="#">Anastasia Verd</a></p>
								<p><span>3 years, 1 months ago</span></p>
							</div>
						</div>
						<p class="comment_content">Wordaround is an online social utility, that connects you with friends, family, brands, and celebrities. Wordaround allows people toshare the things...</p>
					</li>
				</ul>
				<div class="post_message">
					<form>
						<textarea placeholder="Post your message"></textarea>
						<button type="submit">Post</button>
					</form>
				</div> 
			</div>
		</div>
	</div>

	<div class="right_bar">
	<div class="user clearfix">
		<div class="avatar"><img src="img/avatar.png"></div>
		<div class="controls">
			<a href="#"><img src="img/seting.png"></i></a>
			<a href="#"><img src="img/user.png"></a>
			<a href="#"><img src="img/log_out.png"></a>
		</div>
	</div>
	<div class="notifications">
		<p>Notifications <a href="#"></a></p>
		<ul>
			<li>
				<div class="img_container"><img src="img/notific-1.jpg"></div>
				<div class="body_container">
					<p>User  <a href="#">Savannah Durham </a> has invited you to the event ”<a href="#">The hunting party China tour</a>” </p>
					<p><span>15 minutes ago</span></p>
				</div>
			</li>
			<li>
				<div class="img_container"><img src="img/notific-2.jpg"></div>
				<div class="body_container">
					<p>User  <a href="#">Lily Bradberry  </a> has invited you to the event ”<a href="#">30 Seconds to Mars</a>” </p>
					<p><span>15 minutes ago</span></p>
				</div>
			</li>
			<li>
				<div class="img_container"><img src="img/notific-3.jpg"></div>
				<div class="body_container">
					<p>User  <a href="#">Julia Albertson </a> has invited you to the event ”<a href="#">Red Hot Chili Peppers</a>” </p>
					<p><span>15 minutes ago</span></p>
				</div>
			</li>
			<li>
				<div class="img_container"><img src="img/notific-4.jpg"></div>
				<div class="body_container">
					<p>User  <a href="#">Natalie Waller </a> has invited you to the event ”<a href="#">Chicago</a>” </p>
					<p><span>15 minutes ago</span></p>
				</div>
			</li>
		</ul>
	</div>
	<div class="artist_list">
		<p>List of artists </p>
		<div class="ui  icon input">
	        <input type="text" placeholder="Search...">
	        <img src="img/search.png">
      	</div>
      	<p class="search"><img src="img/search_load.png"><span> search</span></p>
      	<ul>
      		<li>
      			<div class="img_container"><img src="img/search_item1.jpg"></div>
      			<div class="body_container">
      				<a href="#">Madonna</a>
      				<p>328 Songs <span> • 27 Album</span></p>
      			</div>
      		</li>
      		<li>
      			<div class="img_container"><img src="img/search_item2.jpg"></div>
      			<div class="body_container">
      				<a href="#">Maroon 5</a>
      				<p>523 Songs <span> • 5 Album</span></p>
      			</div>
      		</li>
      		<li>
      			<div class="img_container"><img src="img/search_item2.jpg"></div>
      			<div class="body_container">
      				<a href="#">Miley Cyrus</a>
      				<p>52 Songs <span> • 3 Album</span></p>
      			</div>
      		</li>
      	</ul>
	</div>
</div>
</div>
<!-- Script -->
<script src="js/jquery-1.11.0.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/semantic.min.js" type="text/javascript"></script>
<script src="js/feed.js" type="text/javascript"></script>
<script src="js/auto_resize.js" type="text/javascript"></script>
<script src="js/perfect-scrollbar.jquery.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script>
	$(function(){
        $('textarea').autoResize();
    });

</script>
<script>
	$('.custom_sroll').perfectScrollbar();
</script>
</body>
</html>